.container {
    display: flex;
    justify-content: space-between;
    width: 250px;
    border: 1px solid;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blank {
    background-color: #F5F5F5;
    border: 1px solid #C0C0C0;
}

.DarkBlue{
    background-color: #003366;
}
.BrightBlue{
    background-color: #0066cc;
}
.Green{
    background-color: #009966;
}
.Yellow{
    background-color: #ffcc00;
}
.Orange{
    background-color: #ff6600;
}
.Red{
    background-color: #cc0000;
}
.RebeccaPurple{
    background-color: #663399;
}
