<div>
    <div>
      <div>
          <app-pip-display [pips]="possibleColours" (pipSelectionEvent)="handlePipSelectedEvent($event)"></app-pip-display>
          <button (click)="onClearButtonClick()">Clear</button>
          <button (click)="onSubmitButtonClick()">Submit</button>
          <button *ngIf="isGameDone" (click)="onNewGameButtonClick()">New Game</button>
      </div>
      <app-game-result *ngIf="isGameDone" [resultText]="gameResult" [answer]="currentSolution"></app-game-result>
    </div>
    <div>
      <app-pip-feedback [rounds]="rounds"></app-pip-feedback>
    </div>

</div>