<div>
    <div>
      <div>
        <h1>Mastermind v0.0.4</h1>
        <h2>How to play</h2>
        The aim is to guess a secret code consisting of a series of 4
        colored circles. Each guess results in feedback narrowing down the possibilities of the
        code. The winner solves the secret code with as little guesses as possible.

        NOTES
        (a) A black small circle to indicate a Code Circle of the right color and in the right position
        (without indication of which Code Circle it corresponds to).
        (b) A light orange small circle indicates a Code Circle of the right color but in the wrong position.

        *** codes may contain duplicates

      </div>
      <div>
          <label>
              <input type="checkbox" (change)="isCheckedChange($event)" />
              May Have Duplicates
            </label>
          <app-pip-display [pips]="possibleColours" (pipSelectionEvent)="handlePipSelectedEvent($event)"></app-pip-display>
          <button (click)="onClearButtonClick()">Clear</button>
          <button (click)="onSubmitButtonClick()">Submit</button>
          <button (click)="onNewGameButtonClick()">New Game</button>
      </div>
      <app-game-result *ngIf="isGameDone" [resultText]="gameResult" [answer]="currentSolution"></app-game-result>
    </div>
    <div>
      <app-pip-feedback [rounds]="rounds"></app-pip-feedback>
    </div>
    <div>
      <app-statistics [stats]="stats"></app-statistics>
    </div>

</div>