<div class="container">
    <div>
      <div>
        <h1>Mastermind v0.2.1 <div class="info" (click)="openModal('info')"></div></h1>
        <h2>{{modeDisplayDict[currentMode]}} Mode</h2>
      </div>
      <div id="controls">
          <button class="secondary m-bot" (click)="openModal('stats')">Stats</button>
          <button class="primary m-bot" (click)="openModal('howTo')">How to play</button>
          <button class="secondary m-bot" (click)="openModal('modes')">Change Mode</button>
          <button class="primary" (click)="onNewGameButtonClick()">New Game</button>
          <div id="control-container">
            <app-pip-display [pips]="possibleColours" (pipSelectionEvent)="handlePipSelectedEvent($event)"></app-pip-display>
          </div>
          <button class="secondary" (click)="onClearButtonClick()">Clear</button>
          <button class="primary" (click)="onSubmitButtonClick()">Submit</button>

      </div>
      <app-game-result  [resultText]="gameResult" [answer]="displaySolution"></app-game-result>
    </div>
    <div>
      <app-pip-feedback [rounds]="rounds"></app-pip-feedback>
    </div>

    <div id="howto" [ngClass]="['modal', modalState['howTo']]">
      <h2>How to play</h2>
      <pre>
The aim is to guess a secret code consisting of a series of 4
colored circles. Each guess results in feedback narrowing down the possibilities of the
code. The winner solves the secret code with as little guesses as possible.

NOTES
(a) A black small circle to indicate a Code Circle of the right color and in the right position
(without indication of which Code Circle it corresponds to).
(b) A light orange small circle indicates a Code Circle of the right color but in the wrong position.

*** codes may contain duplicates
      </pre>
      <button class="primary" (click)="closeModal('howTo')">Close</button>
    </div>

    <div id="stats" [ngClass]="['modal', modalState['stats']]">
      <h2>Your Stats</h2>
      <app-statistics [stats]="stats"></app-statistics>
      <button class="primary" (click)="closeModal('stats')">Close</button>
    </div>

    <div id="modes" [ngClass]="['modal', modalState['modes']]">
      <h2>Select a game mode </h2>
      <button class="secondary m-bot mode-button" (click)="selectArcadeMode()">Arcade (no duplicates)</button>
      <button class="secondary m-bot mode-button" (click)="selectDuplicateMode()">Hard (with duplicates)</button>

      <button class="primary" (click)="closeModal('modes')">Close</button>
    </div>

    <div id="info" [ngClass]="['modal', modalState['info']]">
      <h2>Change Log</h2>
      <pre>
v0.2.0
- added change log
  so that you can see what newe things I added ;)
- added a mode change button and modal
- removed the duplicates button
  that feature is now in the mode change button
v0.2.1
- fixed a bug with stats name
- should regroup all duplicate stats pre and post bug
      </pre>

      <button class="primary" (click)="closeModal('info')">Close</button>
    </div>

</div>
